{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

  


  <div class="card">
    <div class="card-header">
      <h5 class="card-title fw-semibold mt-2">SOBRE NOSOTROS</h5>
    </div>
    <div class="card-body">
      
      <div class="row">
        <div class="col-md-8">
          <p class="mb-0">Este proyecto ha sido realizado como Trabajo de Fin de Máster pata el <strong>Máster Universitario en Análisis y Visualización de Datos Masivos / Visual Analytics and Big Data</strong> en la Universidad Internacional de La Rioja. Los autores de este proyecto son:</p>
          <ul style="padding-left: 20px; list-style-type: disc;">
            <li>Ana</li>
            <li>Olatz</li>
            <li>Lander</li>
          </ul>
          <p class="mb-4">Durante el desarrollo de este trabajo, hemos aplicado los conocimientos adquiridos a lo largo del máster para llevar a cabo un análisis exhaustivo y una predicción de resultados en la primera división de LaLiga española.</p>
          <p class="mb-4">Nuestro objetivo principal ha sido utilizar técnicas de Machine Learning y análisis de datos para descubrir patrones y tendencias ocultas en los datos históricos de LaLiga, con el fin de mejorar la precisión en la predicción de resultados de los partidos.</p>
          <p class="mb-4">Además, nos hemos enfocado en la visualización del conjunto de datos y de los resultados obtenidos, utilizando herramientas y técnicas de visual analytics para presentar de manera clara y efectiva la información generada durante el análisis.</p>
          <p class="mb-4">A lo largo de este proyecto, hemos aplicado metodologías de trabajo rigurosas y hemos utilizado diversas tecnologías y herramientas, incluyendo Python, bibliotecas de Machine Learning, Power BI y Flask, entre otras.</p>
          <p class="mb-4">Nos enorgullece presentar los resultados de nuestro trabajo y esperamos que esta página web sea una fuente informativa y valiosa para los aficionados al fútbol y a la ciencia de datos.</p>
          <p class="mb-4">¡Agradecemos tu visita y esperamos que disfrutes explorando este proyecto tanto como nosotros disfrutamos desarrollándolo!</p>
        
        </div>
        <div class="col-md-4">
          <img src="{{ url_for('static', filename='images/logos/Logo_UNIR.png') }}" style="width: 270px; margin-bottom: 20px;" class="img-fluid">
          
          <img src="{{ url_for('static', filename='images/img/Data_Science_Team-clipart.png') }}" style="width: 250px; margin-top: 20px;" class="img-fluid mx-auto">
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}