{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">PRESENTACIÓN DEL PROYECTO</h5>
        <p class="mb-0"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus nisi non scelerisque dictum. Ut mattis bibendum urna, molestie scelerisque nibh mollis id. Cras ac nisi mauris. Vivamus iaculis pellentesque magna nec pellentesque. Vivamus tincidunt nec diam id scelerisque. Aliquam congue libero nec mi laoreet dignissim. Sed rhoncus venenatis turpis, id dictum augue ultricies elementum. Quisque mattis commodo laoreet. In condimentum erat ac tempus suscipit.

          Pellentesque vitae lectus tristique, dictum orci vitae, suscipit lacus. Sed faucibus, ex nec facilisis pulvinar, nisl velit suscipit sem, id feugiat arcu enim nec ipsum. Integer porta ex ipsum. Ut dolor sapien, congue sit amet purus in, commodo eleifend metus. In hac habitasse platea dictumst. Etiam non augue laoreet purus sollicitudin vulputate eu at magna. Quisque eu magna libero.
          
          Suspendisse hendrerit ligula a massa consectetur, sed viverra nulla lacinia. Duis ornare lacus at velit rutrum, et porttitor est finibus. Integer porttitor risus eu felis mattis, vel pulvinar mi faucibus. Morbi condimentum nibh et justo tristique bibendum. In sodales, lectus porttitor sagittis ultrices, tellus velit pretium metus, eu tempor dolor nulla vitae est. Morbi et finibus leo. Mauris iaculis libero non interdum pellentesque. Mauris vel euismod risus. Nunc non tempus eros.
          
          Donec vestibulum, tortor porttitor porttitor molestie, dui urna maximus turpis, malesuada lobortis mi erat eu lacus. Sed viverra sodales neque, et placerat nulla pulvinar sed. Fusce rutrum justo mi, in venenatis eros aliquam sit amet. Nullam lacinia ex a efficitur convallis. Vivamus suscipit enim a ultrices blandit. Donec laoreet sed eros consectetur fermentum. Aenean ac porta nibh, quis porta dui. Nunc nec facilisis velit, non blandit ipsum. Curabitur rutrum sollicitudin diam, in elementum ante vehicula vel.
          
          Donec interdum faucibus erat, nec semper est blandit a. Aliquam sodales dignissim eros id lacinia. Integer vitae arcu libero. Cras vitae velit nec lorem elementum lacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et purus et libero pretium aliquam. Proin aliquam quam elit, ac fringilla tellus luctus ac. Vestibulum quis turpis purus. Nullam non iaculis dolor. Aliquam lacinia metus nulla, ac lacinia justo tristique eu. Quisque a maximus libero.</p>
      </div>
    </div>
</div>

{% endblock %}