{% extends "base.html" %}

{% block content %}

<div class="container-fluid">


  <div class="card">
    <div class="card-header">
      <h5 class="card-title fw-semibold mt-2">PRESENTACIÓN DEL PROYECTO</h5>
    </div>
      
    <div class="card-body">
     
      <style>
        /* Estilos CSS para los párrafos */
        p {
          margin-bottom: 50px; 
        }
      </style>

      <div style="display: flex;">
          
        <div style="flex: 1;">
          <p class="card-text mb-0"> 
            Bienvenidos a la página web dedicada al proyecto realizado sobre predicción de resultados en la primera división de LaLiga española. Aquí encontrarás información detallada sobre el proceso de análisis y predicción de partidos de fútbol utilizando técnicas de Machine Learning.
          </p>

          <br>

          <p class="card-text mb-0">
            A lo largo de este proyecto, se ha explorado una amplia gama de datos históricos de LaLiga, aplicando análisis estadísticos y modelos predictivos para obtener una visión más profunda y precisa de los resultados de los partidos. Mediante el uso de técnicas avanzadas de Machine Learning, se ha buscado encontrar patrones y tendencias ocultas en los datos, con el objetivo de predecir con mayor precisión los resultados futuros.
          </p>

          <br>

          <p class="card-text mb-0">
            En esta página web, se pueden conocer los detalles del proceso de obtención de datos, explorar las visualizaciones interactivas generadas con Power BI y descubrir los resultados obtenidos a través de los modelos de Machine Learning. Además, también se puede conocer más sobre el equipo detrás de este proyecto y su pasión por el mundo del fútbol y la ciencia de datos.
          </p>

          <br>

          <p class="card-text mb-0">
            ¡Te invitamos a explorar y descubrir los hallazgos y conclusiones de este proyecto! Esperamos que esta página web sea una fuente informativa y entretenida para todos los aficionados al fútbol y a la ciencia de datos. ¡Disfruta de tu visita y no dudes en contactarnos si tienes alguna pregunta o comentario!
          </p>

          <p class="card-text mb-0">
            ¡Te invitamos a explorar y descubrir los hallazgos y conclusiones de este proyecto! Esperamos que esta página web sea una fuente informativa y entretenida para todos los aficionados al fútbol y a la ciencia de datos. ¡Disfruta de tu visita y no dudes en contactarnos si tienes alguna pregunta o comentario!
          </p>

        </div>

        <div style="margin-left: 50px;">
          <img src="{{ url_for('static', filename='images/logos/laliga-logo.png') }}" style="width: 200px;">
        </div>

      </div>
      <div style="display: flex; justify-content: center;">
        <img src="{{ url_for('static', filename='images/img/business_machine_learning.jpg') }}" style="width: 500px;">
      </div>
      

    </div>
  </div>
</div>

{% endblock %}