{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Sample Page</h5>
        <p class="mb-0">This is a sample page </p>
        
      </div>
    </div>


    <iframe title="dashboard-LaLiga-Temporadas11-22" width="1100" height="675" src="https://app.powerbi.com/reportEmbed?reportId=9dfb18e5-0111-4529-9442-25bb1ac25e1a&autoAuth=true&ctid=899789dc-202f-44b4-8472-a6d40f9eb440" frameborder="0" allowFullScreen="true"></iframe>
</div>

{% endblock %}