{% extends "base.html" %}

{% block content %}

<div class="container-fluid">


  <!-- CARD -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title fw-semibold mb-4">Temporadas</h5>
      <p class="mb-0">This is a sample page </p>
    </div>
    <iframe title="dashboard-LaLiga-Temporadas-11-22" width="1135" height="655" src="https://app.powerbi.com/reportEmbed?reportId=46f6061e-d9a0-4d28-bd5e-594e767a1223&autoAuth=true&ctid=899789dc-202f-44b4-8472-a6d40f9eb440" frameborder="0" allowFullScreen="true"></iframe>
  </div>

  <!-- CARD -->
  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title fw-semibold mb-4">Partidos en detalle</h5>
      <p class="mb-0">En este dashboard puedes ver información en detalle sobre un partido en concreto, selecciona la temporara, el equipo local y el equipo visitante.</p>
    </div>
    <iframe title="dashboard-LaLiga-PartidoDetalle" width="1135" height="655" src="https://app.powerbi.com/reportEmbed?reportId=fc2e267c-a6e0-4df4-8d6d-b6c253669fc4&autoAuth=true&ctid=899789dc-202f-44b4-8472-a6d40f9eb440" frameborder="0" allowFullScreen="true"></iframe>
  </div>


  <!-- CARD -->
  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title fw-semibold mb-4">Equipos</h5>
      <p class="mb-0">En este dashboard puedes ver información en detalle sobre un partido en concreto, selecciona la temporara, el equipo local y el equipo visitante.</p>
    </div>
    <iframe title="dashboard-LaLiga-Equipos" width="1135" height="655" src="https://app.powerbi.com/reportEmbed?reportId=9fd35382-a86c-455e-99f8-46acde19b8f6&autoAuth=true&ctid=899789dc-202f-44b4-8472-a6d40f9eb440" frameborder="0" allowFullScreen="true"></iframe>
  </div>


</div>

{% endblock %}